* {
	box-sizing: border-box;
}

/*NavBar Style*/
.navbar {
	overflow: hidden;
}
.navbar ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
	height: 60px;
}
.navbar a {
	display: inline-block;
	margin: 0 20px;
	text-decoration: none;
	color: #ffffff;
	opacity: 70%;
	font-size: 20px;
	width: 110px;
	vertical-align: -webkit-baseline-middle;
}
.navbar .sections-bar-nav {
	position: absolute;
	top: 33.8vw;
	margin-right: 50vw;
}

.navbar .nav-Items {
	display: inline;
	text-align: center;
}
.navbar .social-Icon {
	display: inline;
}
.navbar .sections-bar-social a {
	width: 70px;
	margin: 0;
}
.navbar .social-Icon img {
	width: 55px;
	margin: -3px -2px -10px 7px;
	padding: 0;
	transform: translateY(-5%);
	tabindex: 0;
}
.navbar .sections-bar-social {
	position: absolute;
	margin-left: 50vw;
	top: 34.4vw;
}
.navbar .container span {
	display: inline-block;
	position: absolute;
	height: 70px;
	border-radius: 35px;
	background-color: #21232D;
	opacity: 70%;
	z-index: -1;
	transform: translateY(-92%);
	transition: 0.3s ease-in-out;
}
.navbar .container {
	display: flex;
	justify-content: center;
}
/* Nav Items Animations */
.select-nav-Items {
	width: 150px;
	height: 80px;
	margin-left: 0;
}
.move-select-Items {
	margin-left: 150px;
}
.move-select-Items3 {
	margin-left: 300px;
}
/* NavBar white rectangle shape for .nav-Items */
.navbar .container .Items-white {
	width: 450px;
	background-color: #ffffff;
	opacity: 30%;
	z-index: -2;
}
/* Socail Icon Animation */
.select-social-Icon {
	width: 70px;
	margin-left: 0;
}
.move-social-Icon {
	margin-left: 70px;
}
.move-social-Icon3 {
	margin-left: 140px;
}
.move-social-Icon4 {
	margin-left: 210px;
}
/* NavBar white rectangle shape for .social-Icon */
.navbar .container .Icon-white {
	background-color: #ffffff;
	opacity: 30%;
	width: 280px;
	z-index: -2;
}
.navbar .svg-color {
	filter: invert(100%) ;
	opacity: 70%;
}
.navbar .hover-effect:hover {
	opacity: 100%;
	font-weight: bold;
	color: #ffffff;
}
.navbar .hover-effect:focus {
	opacity: 100%;
	font-weight: bold;
}
.navbar a:focus-within .hover-effect {
	opacity: 100%;
}
.navbar .navbar_background {
	z-index: -2;
	position: relative;
	width: 100%;
}
