* {
	box-sizing: border-box;
	margin: 0;
}
h1 {
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
}

/*NavBar Style*/
.navbar {
	overflow: hidden;
	background-image: url("./assets/images/navbar_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 784px;
}
/* h1 and h2 is the welcome screen text */
.navbar h1 {
	position: absolute;
	left: 15vw;
	top: 320px;
	letter-spacing: 20px;
	font-size: 3.2em;
	font-weight: 400;
}
.navbar h2 {
	position: absolute;
	font-weight: 300;
	padding: 0 8px;
	border: 1px solid white;
	left: 15vw;
	top: 260px;
	background-image: linear-gradient(90deg, #00597C70, #FF660080);
}
/* Beginning of the navbar list items and social icons */
.navbar ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
}
.navbar a {
	display: inline-block;
	margin: 0 20px;
	text-decoration: none;
	color: #ffffff;
	opacity: 70%;
	font-size: 1.3em;
	font-weight: 500;
	width: 110px;
	vertical-align: -webkit-baseline-middle;
	transition: font-weight 0.2s ease-in-out;
}
.navbar .sections-bar-nav a:last-child {
	line-height: 1em;
	padding: 5px 0;
}
.navbar .sections-bar-nav {
	position: absolute;
	top: 636px;
	margin-right: 50vw;
}

.navbar .nav-Items {
	display: inline;
	position: relative;
	text-align: center;
	z-index: 2;
}
.navbar br {
	font-size: 0;
}
.navbar .social-Icon {
	display: inline;
	position: relative;
	z-index: 2;
}
.navbar .sections-bar-social a {
	width: 70px;
	height: 55px;
	margin: 0;
}
.navbar .social-Icon img {
	display: block;
	width: 50px;
	margin: 0 auto;
	margin-top: 5px;
	padding: 0;
	transition: width 0.18s ease-in-out;
}
.navbar .sections-bar-social {
	position: absolute;
	margin-left: 50vw;
	top: 636px;
}
.navbar .container span {
	display: inline-block;
	position: absolute;
	height: 70px;
	border-radius: 35px;
	background-color: #21232D;
	opacity: 70%;
	z-index: 1;
	transform: translateY(-85%);
	transition: 0.3s ease-in-out;
}
.navbar .container {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}
/* Nav Items Animations */
.select-nav-Items {
	width: 150px;
	height: 80px;
	margin-left: 0;
}
.move-select-Items {
	margin-left: 150px;
}
.move-select-Items3 {
	margin-left: 300px;
}
/* NavBar white rectangle shape for .nav-Items */
.navbar .container .Items-white {
	width: 450px;
	background-color: #ffffff;
	opacity: 30%;
	z-index: 0;
}
/* Socail Icon Animation */
.select-social-Icon {
	width: 70px;
	margin-left: 0;
}
.move-social-Icon {
	margin-left: 70px;
}
.move-social-Icon3 {
	margin-left: 140px;
}
.move-social-Icon4 {
	margin-left: 210px;
}
/* NavBar white rectangle shape for .social-Icon */
.navbar .container .Icon-white {
	background-color: #ffffff;
	opacity: 30%;
	width: 280px;
	z-index: 0;
}
.navbar .svg-color {
	filter: invert(100%) ;
	opacity: 70%;
}
.navbar .hover-effect:hover {
	opacity: 100%;
	font-weight: bold;
	color: #ffffff;
}
.navbar .sections-bar-social .hover-effect:hover {
	width: 55px;
	margin: 4px auto -10px auto;
}
.navbar .hover-effect:focus {
	opacity: 100%;
	font-weight: bold;
}
.navbar a:focus-within .hover-effect {
	opacity: 100%;
}
.navbar .sections-bar-social img:focus-within .hover-effect {
	width: 55px;
	margin: 4px auto -10px auto;
}
/* About_me Section */
.aboutMeSection {
	height: 1420px;
	background-color: #FF6600;
}
.aboutMeSection h1 {
	font-size: 2.2em;
}
.aboutMeSection .details h2 {
	margin: 15px 0;
	font-weight: 500;
}
.aboutMeSection .details p {
	width: 35vw;
	font-size: 1.3em;
	font-weight: 300;
}
.aboutMeSection .details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}
.aboutMeSection .details span {
	margin-top: 350px;
	margin-left: 60px;
}
.aboutMeSection .stories {
	position: absolute;
	right: 50px;
	transform: translateY(-95%);
}
.aboutMeSection .stories h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 1.8em;
}
.aboutMeSection .stories .story {
	display: block;
	width: 300px;
	height: 535px;
	background-color: #C9C9C9;
	box-shadow: 0 6px 10px 3px #00000070;
	border-radius: 30px;
}
.aboutMeSection .stories .story:not(:first-child) {
	margin-left: 30px;
}
.aboutMeSection .stories .story:first-child {
	box-shadow: -2px 5px 10px 5px #00000070;
}
.aboutMeSection .stories .story:last-child {
	box-shadow: 2px 5px 10px 5px #00000070;
}
.aboutMeSection .stories div {
	display: flex;
	flex-direction: row;
}
/* Skills Section */
.skillsSection {
	height: 500px;
	background-color: #131616;
}
.skillsSection h1 {
	font-size: 2.2em;
}
.skillsSection .skills-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
	margin-top: 45px;
}
.skillsSection .arrow-left {
	margin-left: 0;
}
.skillsSection .arrow-right {
	margin-left: 0;
	transform: scaleX(-1);
}
.skillsSection .skillsList {
	overflow-x: hidden;
	max-width: 1681px;
	height: 100%;
}
.skillsSection .translateXwrapper {
	display: flex;
	gap: 35px;
}
.skillsSection .skill {
	min-width: 537px;
	height: 292px;
	background-color: #D9D9D9;
	border-radius: 30px;
	overflow: hidden;
	box-sizing: border-box;
}
.skillsSection h2 {
	text-align: center;
}
.skillsSection button {
	border: none;
	outline: none !important;
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	transition: background-color 0.3s ease-in-out;
}
.skillsSection button:active {
	background-color: #D9D9D930;
}
.skillsSection .skills-wrapper .left-button{
	margin-left: 0;
	left: 0;
	padding-left: 100px;
	padding-right: 10px;
}
.skillsSection .skills-wrapper .right-button{
	margin-right: 0;
	right: 0;
	padding-right: 100px;
	padding-left: 10px;
}
/*Current Projects*/
.currentProjectSection {
	height: 900px;
	background-color: #131616;
	text-align: center;
}
.currentProjectSection h1 {
	font-size: 2.2em;
}
.currentProjectSection .currentProjectCards {
	display: flex;
	justify-content: center;
	gap: 35px;
	margin-top: 50px;
}
.currentProjectSection .projectCard {
	width: 350px;
	height: 620px;
	background-color: #D9D9D9;
	border-radius: 30px;
	text-align: center;
}
.currentProjectSection .currentProjectCards h2 {
	margin-top: 20px;
}
.currentProjectSection button {
	width: 200px;
	height: 50px;
	margin-top: 50px;
	background-color: #FF6600;
	border-radius: 25px;
	border: none;
	outline: none !important;
	transition: width 0.3s ease-in-out;
}
.currentProjectSection button p {
	opacity: 80%;
	font-size: 1.3em;
	font-weight: 400;
	transition: font-weight 0.2s ease-in-out;
}
.currentProjectSection button:hover p {
	font-weight: 600;
	opacity: 100%;
}
.currentProjectSection button:hover{
	width: 220px;
}
.currentProjectSection button:focus p {
	font-weight: 600;
	opacity: 100%;
}
/* Footer Section */
.footerSection {
	height: 610px;
	background-color: #FF6600;
}
.footerSection .pageDetails {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	gap: 100px
}
.footerSection .contactForm {
	width: 523px;
}
.footerSection .contactForm #fullName {
	width: 180px;
	height: 65px;
}
.footerSection .contactForm #email {
	width: 330px;
	height: 65px;
	margin-left: 12px;
}
.footerSection .contactForm #massage {
	width: 523px;
	height: 222px;
	margin-top: 12px;
	text-align: left;
}
.footerSection .contactForm #send {
	width: 120px;
	height: 40px;
	position: absolute;
	background-color: #FF6600;
	color: #FFFFFF;
	font-size: 1.4em;
	margin-left: -150px;
	margin-top: 180px;
	box-shadow: 0px 2px 8px 2px #00000080;
	transition-property: width, margin-left, margin-top, box-shadow;
	transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
}
.footerSection .contactForm #send:hover {
	width: 128px;
	margin-left: -154px;
	font-weight: 550;
	box-shadow: 0px 2px 8px 2px #00000070;
}
.footerSection .contactForm #send:active {
	width: 116px;
	margin-left: -146px;
	height: 36px;
	margin-top: 182px;
	box-shadow: 0px 2px 6px 2px #00000090;
}
.footerSection .contactForm .inputs {
	border: none;
	border-radius: 30px;
	font-size: 1.2em;
	color: #131616;
	text-align: center;
	background-color: #ffffff;
	outline: none;
}
.footerSection .form label:first-child {
	margin-left: 50px;
}
.footerSection .form label {
	margin-left: 210px;
}
.footerSection .contactForm .inputs::placeholder {
	color: #13161630;
}
.footerSection .selfImage img {
	width: 323px;
	border-radius: 51%;
}
.footerSection .pageDetails ul {
	list-style: none;
	padding: 0;
}
.footerSection hr {
	margin: 0 100px;
	margin-top: 30px;
	border-color: #131616;
}
.footerSection span {
	display: flex;
	justify-content: center;
	opacity: 80%;
	margin: 0 100px;
}
.footerSection span p.copyrights {
	margin-left: auto;
	padding-left: 70px;
}
.footerSection span p.date {
	margin-left: auto;
}
@media (max-width: 1700PX) {
	.navbar h1 {
		font-size: 2.5em;
	}
	.navbar h2 {
		font-size: 1.3em;
	}
	.aboutMeSection .details img {
		width: 800px;
	}
	.aboutMeSection .stories {
		transform: translateY(-65%);
	}
	.aboutMeSection .details span {
		margin-top: 300px;
	}
	.aboutMeSection .stories .story {
		width: 280px;
		height: 515px;
	}
}
@media (max-width: 1400PX) {
	.navbar h1 {
		font-size: 2em;
	}
}
@media (max-width: 1300PX) {
	/* Navbar Responsive Sections */
	.navbar h1 {
		font-size: 1.6em;
	}
	.navbar h2 {
		font-size: 1em;
	}
	.navbar a {
		font-size: 1em;
		margin: 0 10px;
	}
	.navbar .container span {
		height: 60px;
		transform: translateY(-91%);
	}
	.select-nav-Items {
		width: 130px;
	}
	.move-select-Items {
		margin-left: 130px;
	}
	.move-select-Items3 {
		margin-left: 260px;
	}
	.navbar .container .Items-white {
		width: 390px;
	}
	.navbar .sections-bar-nav a:last-child {
		padding: 9px 0;
	}
	.navbar .social-Icon img {
		width: 45px;
		margin-top: 2px;
	}
	.navbar .sections-bar-social a {
		height: 50px;
	}
	.navbar .sections-bar-social .hover-effect:hover {
		width: 50px;
		margin: 4px auto -10px auto;
	}
	.aboutMeSection .details img {
		width: 700px;
	}
	.aboutMeSection .stories {
		transform: translateY(-38%);
		margin: 0 auto;
		right: unset;
		left: 16%;
	}
}
