* {
	box-sizing: border-box;
	margin: 0;
}

/*NavBar Style*/
.navbar {
	overflow: hidden;
}
/* h1 and h2 is the welcome screen text */
.navbar h1 {
	position: absolute;
	left: 15vw;
	top: 16vw;
	letter-spacing: 20px;
}
.navbar h2 {
	position: absolute;
	font-weight: 300;
	padding: 0 8px;
	border: 1px solid white;
	left: 15vw;
	top: 13vw;
	background-image: linear-gradient(90deg, #00597C70, #FF660080);
}
/* Beginning of the navbar list items and social icons */
.navbar ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
}
.navbar a {
	display: inline-block;
	margin: 0 20px;
	text-decoration: none;
	color: #ffffff;
	opacity: 70%;
	font-size: 1.3em;
	width: 110px;
	vertical-align: -webkit-baseline-middle;
}
.navbar .sections-bar-nav a:last-child {
	line-height: 1em;
	padding: 5px 0;
}
.navbar .sections-bar-nav {
	position: absolute;
	top: 31.8vw;
	margin-right: 50vw;
}

.navbar .nav-Items {
	display: inline;
	text-align: center;
}
.navbar br {
	font-size: 0;
}
.navbar .social-Icon {
	display: inline;
}
.navbar .sections-bar-social a {
	width: 70px;
	height: 55px;
	margin: 0;
}
.navbar .social-Icon img {
	display: block;
	width: 50px;
	margin: 0 auto;
	margin-top: 5px;
	padding: 0;
}
.navbar .sections-bar-social {
	position: absolute;
	margin-left: 50vw;
	top: 31.8vw;
}
.navbar .container span {
	display: inline-block;
	position: absolute;
	height: 70px;
	border-radius: 35px;
	background-color: #21232D;
	opacity: 70%;
	z-index: -1;
	transform: translateY(-85%);
	transition: 0.3s ease-in-out;
}
.navbar .container {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}
/* Nav Items Animations */
.select-nav-Items {
	width: 150px;
	height: 80px;
	margin-left: 0;
}
.move-select-Items {
	margin-left: 150px;
}
.move-select-Items3 {
	margin-left: 300px;
}
/* NavBar white rectangle shape for .nav-Items */
.navbar .container .Items-white {
	width: 450px;
	background-color: #ffffff;
	opacity: 30%;
	z-index: -2;
}
/* Socail Icon Animation */
.select-social-Icon {
	width: 70px;
	margin-left: 0;
}
.move-social-Icon {
	margin-left: 70px;
}
.move-social-Icon3 {
	margin-left: 140px;
}
.move-social-Icon4 {
	margin-left: 210px;
}
/* NavBar white rectangle shape for .social-Icon */
.navbar .container .Icon-white {
	background-color: #ffffff;
	opacity: 30%;
	width: 280px;
	z-index: -2;
}
.navbar .svg-color {
	filter: invert(100%) ;
	opacity: 70%;
}
.navbar .hover-effect:hover {
	opacity: 100%;
	font-weight: bold;
	color: #ffffff;
}
.navbar .sections-bar-social .hover-effect:hover {
	width: 55px;
	margin: 4px auto -10px auto;
}
.navbar .hover-effect:focus {
	opacity: 100%;
	font-weight: bold;
}
.navbar a:focus-within .hover-effect {
	opacity: 100%;
}
.navbar .sections-bar-social img:focus-within .hover-effect {
	width: 55px;
	margin: 4px auto -10px auto;
}
.navbar .navbar_background {
	z-index: -2;
	position: relative;
	width: 100%;
}

/* About_me Section */
.aboutMeSection {
	height: 1420px;
	background-color: #FF6600;
}
.aboutMeSection h1 {
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
}
.aboutMeSection p {
	width: 500px;
}
@media (max-width: 1700PX) {
	.navbar h1 {
		font-size: 2.5em;
	}
	.navbar h2 {
		font-size: 1.3em;
}
@media (max-width: 1400PX) {
	.navbar h1 {
		font-size: 2em;
	}
}
@media (max-width: 1300PX) {
	/* Navbar Responsive Sections */
	.navbar h1 {
		font-size: 1.6em;
	}
	.navbar h2 {
		font-size: 1em;
	}
	.navbar a {
		font-size: 1em;
		margin: 0 10px;
	}
	.navbar .container span {
		height: 60px;
		transform: translateY(-91%);
	}
	.select-nav-Items {
		width: 130px;
	}
	.move-select-Items {
		margin-left: 130px;
	}
	.move-select-Items3 {
		margin-left: 260px;
	}
	.navbar .container .Items-white {
		width: 390px;
	}
	.navbar .sections-bar-nav a:last-child {
		padding: 9px 0;
	}
	.navbar .social-Icon img {
		width: 45px;
		margin-top: 2px;
	}
	.navbar .sections-bar-social a {
		height: 50px;
	}
	.navbar .sections-bar-social .hover-effect:hover {
		width: 50px;
		margin: 4px auto -10px auto;
	}
}
